{% if categories %}

<ul class="nav-menu" class="" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
	{% for category in categories %}
	<li><a class="waves-effect" href="{{ category.href }}" itemprop="url"><span itemprop="name">{{ category.name }}</span></a></li>
	<li class="divider"></li>
	{% endfor %}
</ul>
{% endif %}